@model Order
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <hr />
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderState);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back To List</a>
</div>
