@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
}

<h1>Order List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.OrderState)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

